body { background: #d52a3b; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 57px; display: flex; }
.block-payment-0 { color: #a42b56; font-size: 14px; margin-bottom: 5px; }
.block-email-1 { color: #cada95; font-size: 16px; margin-bottom: 5px; }
.block-helper-2 { color: #26f0ed; font-size: 12px; margin-bottom: 5px; }
.block-notify-3 { color: #de3cd5; font-size: 17px; margin-bottom: 5px; }
.block-sms-4 { color: #eb65c; font-size: 13px; margin-bottom: 5px; }
.block-filter-5 { color: #182681; font-size: 21px; margin-bottom: 5px; }
.block-sms-6 { color: #d1ba76; font-size: 20px; margin-bottom: 5px; }
.block-cart-7 { color: #1868bd; font-size: 21px; margin-bottom: 5px; }
.block-shipping-8 { color: #8a6ca5; font-size: 13px; margin-bottom: 5px; }
.block-cluster-9 { color: #a1d79; font-size: 15px; margin-bottom: 5px; }
.block-search-10 { color: #955671; font-size: 20px; margin-bottom: 5px; }